*{
    margin: 0;
    padding: 0;
}
body{
    
}
/* .logo{
    display: flex;
}
.logo img{
    height: 20vh;
    width: 10vw;
} */
.container{
    /* background-color: rgb(213, 251, 247);     */
    display: flex;
    height: 100vh;
}
.form{
    width: 30%;
    /* padding: 100px 0px 0px 0px; */
    height: 90vh;
    margin-top: 30px;
    background-color: white;
    text-align: center;
    box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.5)
}
.inp{
    line-height: 1.5;
    padding-top: 30px;
}
.btn{
    height: 10vh;
    width: 20vw;
    font-size: 20px;
    margin-top: 20px;
    color: white;
    background-color: #36b37e;
    border: none;
    border-radius: 0 10px 10px 0;
}
.inp input{
    height: 8vh;
    width: 20vw;
}
.text{
    /* text-align: center; */
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    width: 50%;
    padding: 100px 70px 0 70px;
    letter-spacing: 1px;
}
.partners{
    margin-top: 100px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}
.services{
    margin-top: 100px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}
.images{
    /* margin-top: 40px; */
    align-items: center;
    justify-content: center;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    width: 10%;
}
.images img{
    /* margin-left: 120px; */
    padding: 20px;
    height: 40vh;
}
.pimg img{
    padding-left: 80px;
    
    margin-top: 30px;
}
.customers{
    margin-top: 50px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.card {
    background-color: #36b37e;
    color: white;
    margin-top: 20px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 90%;
    margin-left: 50px;
    height: 20vh;
    text-align: center;
    font-size: 20px;
    line-height: 2;
    margin-bottom: 20px;
    border: 1px solid black;
    /* margin-right: 150px; */
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.card {
      text-align: center;
    /* padding: 2px 16px; */
    /* margin-left: 100px; */
  }

  @media screen and (max-width:650px) {
    .container{
        display: block;
    }
    .text{
        width: 100%;
    }
    .form{
        width: 70%;
        text-align: center;
        margin-left: 80px;
    }
    .inp input{
        width: 30vw;
    }
    .partners{
        margin-top: 500px;
        margin-left: 50px;

    }
    .services{
        margin-left: 50px;
 
    }
    .images{
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 50%;

    }
    .customers{
        display: block;
        margin-left: 50px;
        margin-right: auto;
        width: 100%;
    }
    .btn{
        width: 25vw;
    }
  }